mat-toolbar.mat-toolbar.mat-toolbar-single-row {
  background-color: antiquewhite;
}
.rental {
  margin: auto;
}
mat-form-field.mat-form-field.ng-tns-c3-0.mat-primary.mat-form-field-type-mat-select.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-has-label.mat-form-field-hide-placeholder {
  position: absolute;
  top: 14px;
  right: 0px;
}
span.mat-option-text {
  position: absolute;
  right: 86px;
}
